:root {
    --bs-primary:#ce0581;
    --bs-bg-primary:#ce0581;
    --bs-primary-rgb: 206, 5, 129; 

}

html, body {
    margin: 0;
    padding: 0;
    height: 100vsh
}


main {
    background-image: url("/imgs/sky.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100svh;

    & section {
        --bs-bg-opacity: 0.8 !important;
        min-height: fit-content;
    }
}


h1 {
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.8);
}

@media (prefers-color-scheme: dark) {
    h1 {
        color: white !important;
    }
}